<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../Model/biblioteca.css" rel="stylesheet" type="text/css">
	<title>Biblioteca - Music Project</title>
	<link rel="icon" href="logon.png">
</head>
<body>
	<header class="header" id="inicio">
		<img src="../images/MenuMusic.svg">
	<div class="logo">
		<img src="../images/logorees.png">
	</div>
	<div class =" menu-Inicio">
		<a href="#Inicio">Inicio</a>
		<a href="#Biblioteca">Biblioteca</a>
		<a href="#Perfil">Perfil</a>
	</div>
	<main>
	<div class="contenedor head">
		<h1>Escucha tu música mientras realizas todo lo que te gusta, Solo dale Play</h1>
		<img src="../images/ImagMusic.jpg" alt="">
	</main>
	</div>
</header>
</body>
</html>