<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Music Project</title>
	<link href="../model/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="logon.png">
</head>
<body>
	<header>
	<form>
		<input type="u-medium - width" type="text" placeholder="¿Que te gustaria escuchar?" id="Buscador">
			</form>
			</header>
	<div class="mensaje">
		<h2>Escucha tus listas de reprodución,
		Mientras conduces, Estudias y mas.
		Solo con un Click.</h2>
	</div>
	<div class="login">
	<h1>Registrarse</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Correo Electronico" required="required">
    	<input type="text" name="a" placeholder="Nombre de Usuario" required="required">
        <input type="password" name="p" placeholder="Establece Una Contraseña" required="required">
        <input type="password" name="p" placeholder="Confirma tu Contraseña" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse Ahora</button>
    </form>
    <footer>
    	<p>
    		<br>
    		Esta pagina fue creada por estudiantes de la Universidad Santiago de Cali Music Project hecha para Ti!
    	</p>
    </footer>
</div>
</body>
</html>