<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link href="../Model/Lstyle.css" rel="stylesheet" type="text/css">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="icon" href="logon.png">
</head>
<body>
	<div class="btnlogin">
		<button> <a onclick="alert('Llena todos los Campos')" href="login.html">Iniciar Sesion</a></button>
	</div>
	</div>
	<div class="logo">
		<img src="../images/logorees.png">
	</div>
	<div class="login">
	<h1>Iniciar Sesión</h1>
    <form method="post">
    	<input type="text" id="usuarioName" name="u" placeholder="Nombre de Usuario" required="required" />
        <input type="password" id="usuarioPass" name="p" placeholder="Contraseña" required="required" />

    </form>

	<button class="btn btn-primary btn-block btn-large" onclick="guardar()" hrfe="biblioteca.html">Iniciar Sesion</button>

    <div class="rmessage">
    <p>Aun no te registras en Music Project? hazlo </p><a color="#FF0000" href="registro.html">REGISTRATE!
		<i class='bx bxs-registered'></i></a>
    </div>
</div>

<!--Importamos Base de datos-->
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
</body>
</html>