<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/StyleRep.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
  
<div id="overlay"></div>
<header>
  <div id="menu-bar">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="song-info">
    <h1>Song name</h1>
    <p>Song artist</p>
  </div>
  <div id="search">
    <i class="fa fa-search fa-2x"></i>
  </div>
</header>
<div id="content">
  <div id="range">
    <input type="range" id="range-val" value="46" min="0" max="143">
    <div id='tip'>Some tip</div>
  </div>
  <div id="time">
    <p>0:46</p>
  </div>
  <div id="buttons">
    <i class="fa fa-step-backward fa-3x"></i>
    <i class="fa fa-pause fa-3x step"></i>
    <i class="fa fa-step-forward fa-3x"></i>
  </div>
  <div id="total-time">
    <p>2:23</p>
  </div>
</div>
<footer>
  <div id="repeat">
    <i class="fa fa-repeat"></i>
  </div>
  <div id="random">
    <i class="fa fa-random"></i>
  </div>

  <script src="../Controller/ReproJa.js"></script>
</body>
</html>

</footer>